extends ../layout
block content
    div
        // #Left Sidebar ====================
        include ../sidebar/index
        // #Main ============================
        .page-container
            include ../header
            main.main-content.bgc-grey-100
                #mainContent
                    .container-fluid
                        h4.c-grey-900.mT-10.mB-30 Editar Perfil
                        .row.justify-content-center
                            .col-md-6
                                form(action="/cuenta/perfil/", method="POST" )
                                    .form-group 
                                        p Nombre Completo
                                        input.form-control(type="text", value=usuario.nombreCompleto, name="nombreCompleto")
                                    .form-group
                                        p DNI
                                        input.form-control(type="text", value=usuario.dni, name="dni")
                                    .form-group
                                        p Email
                                        input.form-control(type="text", value=usuario.email,  name="email")
                                    a.btn.btn-secondary(href="/home" class="mr-2") Cancelar  
                                    input.btn.btn-primary(type='submit' value="Guardar")   
                    
    include ../footer 