extends ../layout
block content
    div
        // #Left Sidebar ====================
        include ../sidebar
        // #Main ============================
        .page-container
            include ../header
            main.main-content.bgc-grey-100
                #mainContent
                    .container-fluid
                        h4.c-grey-900.mT-10.mB-30 Nuevo Pago
                        .row.justify-content-center
                            .col-md-6
                                form(action="/ventas/pagos/nuevo", method="POST", enctype="multipart/form-data" )
                                    .form-group
                                        p Reserva
                                            select.form-control.select2(name="reserva")
                                                option(disabled selected) Seleccionar Reserva
                                                each reserva in reservas
                                                    if reserva.id_u
                                                        each alumno in alumnos
                                                            if alumno.id_u == reserva.id_u
                                                                - var fechaReserva = new Date(reserva.fecha_reserva);
                                                                - fechaReserva = fechaReserva.getDate() + '/' + (fechaReserva.getMonth() + 1) + '/' + fechaReserva.getFullYear()
                                                                option(value=reserva.id_reserva)= fechaReserva + ' - ' + alumno.displayName
                                                    else
                                                        each potencial in potenciales
                                                            if potencial.id_potencial == reserva.id_potencial
                                                                - var fechaReserva = new Date(reserva.fecha_reserva);
                                                                - fechaReserva = fechaReserva.getDate() + '/' + (fechaReserva.getMonth() + 1) + '/' + fechaReserva.getFullYear()
                                                                option(value=reserva.id_reserva)= fechaReserva + ' - ' + potencial.nombre_apellido
                                    .form-group  
                                        p Documento
                                        input.form-control(type="text" placeholder="Documento" name="documento")
                                    .form-group  
                                        p Monto
                                        input.form-control(type="number" placeholder="Monto" name="monto")
                                    .form-group
                                        p Fecha
                                        .timepicker-input.input-icon.form-group
                                            .input-group
                                                .input-group-addon.bgc-white.bd.bdwR-0
                                                    i.ti-calendar
                                                input.form-control.bdc-grey-200.start-date(type='text', placeholder='Fecha', name="fecha", data-provide='datepicker' )
                                    .form-group  
                                        p Imagen del deposito
                                        input.form-control(type="file" name="img_deposito" accept="image/png, image/jpeg, .pdf")
                                    .form-group  
                                        p Imagen de la boleta
                                        input.form-control(type="file" name="img_boleta" accept="image/png, image/jpeg, .pdf")
                                    a.btn.btn-secondary(href="/ventas/pagos/todos" class="mr-2") Cancelar
                                    input.btn.btn-primary(type='submit' value="Guardar")   
                                    
                    
    include ../footer 