extends ../layout
block content
    div
        // #Left Sidebar ====================
        include ../sidebar
        // #Main ============================
        .page-container
            include ../header
            main.main-content.bgc-grey-100
                #mainContent
                    .container-fluid
                        h4.c-grey-900.mT-10.mB-30 Nueva Reserva
                        .row.justify-content-center
                            .col-md-6
                                form(action="/ventas/reserva/nuevo", method="POST" )
                                    .form-group
                                        p Tipo de reserva
                                        select#tipo_reserva.form-control(name="tipo")
                                            option(selected disabled) Seleccionar tipo de reserva
                                            option(value="cliente") Cliente
                                            option(value="nuevo") Nuevo Cliente
                                    #nuevo_reserva.d-none
                                        .form-group  
                                            p Nombre completo
                                            input.form-control(type="text" placeholder="Nombre Completo" name="displayName")
                                        .form-group  
                                            p DNI
                                            input.form-control(type="text" placeholder="Ingresar DNI" name="dni")
                                        .form-group 
                                            p Teléfono
                                            input.form-control(type="tel" placeholder="Teléfono" name="telefono")
                                        .form-group 
                                            p Celular
                                            input.form-control(type="tel" placeholder="Celular" name="celular")
                                        .form-group 
                                            p Correo Electrónico
                                            input.form-control(type="email" placeholder="Correo Electrónico" name="email")
                                    #cliente_reserva.d-none
                                        p Cliente
                                            select.form-control(name="id_u")
                                                option(disabled selected) Seleccionar cliente
                                                each alumno in alumnos
                                                    option(value=alumno.id_u)= alumno.displayName
                                    .form-group
                                        p Fecha de reserva
                                        .timepicker-input.input-icon.form-group
                                            .input-group
                                                .input-group-addon.bgc-white.bd.bdwR-0
                                                    i.ti-calendar
                                                input.form-control.bdc-grey-200.start-date(type='text', placeholder='Fecha de reserva', name="fecha_reserva", data-provide='datepicker' )
                                    .form-group 
                                        p Curso
                                        select.form-control(name="id_c")
                                            each curso in cursos
                                                option(value=curso.id_c)= curso.codigo + ' '
                                                    each software in softwares
                                                        if curso.id_s == software.id_s
                                                            = software.name
                                    .form-group 
                                        p Comentarios
                                        input.form-control(type="text" placeholder="Comentarios" name="comentarios")

                                    input(type="hidden", value=user, name="vendedor")
                                    a.btn.btn-secondary(href="/ventas/reserva/todos" class="mr-2") Cancelar
                                    input.btn.btn-primary(type='submit' value="Guardar")   
                    
    include ../footer 