if usuario.tipoUsuario == "Admin"
  include ./admin
else if usuario.tipoUsuario == "Profesor"
  include ./profesor
else if usuario.tipoUsuario == "Alumno"
  include ./alumno
else if usuario.tipoUsuario == "Vendedor"
  include ./vendedor