extends ../../layout
block content
    div
        // #Left Sidebar ====================
        include ../../sidebar/index
        // #Main ============================
        .page-container
            include ../../header
            main.main-content.bgc-grey-100
                #mainContent
                    .container-fluid
                        h4.c-grey-900.mT-10.mB-30 Pagos
                        .row
                            .col-md-12
                                .bgc-white.bd.bdrs-3.p-20.mB-20.position-relative                                        
                                    .tablaEditable
                                        table#dataTable.table.table-striped.table-bordered(cellspacing='0', width='100%')
                                            thead
                                                tr
                                                    th Nombre Completo
                                                    th DNI
                                                    th Email
                                                    th
                                            tfoot
                                                tr
                                                    th Nombre Completo
                                                    th DNI
                                                    th Email
                                                    th
                                            tbody
                                                if clientes
                                                    each cliente in clientes
                                                        tr
                                                            td= cliente.nombreCompleto
                                                            td= cliente.dni
                                                            td= cliente.email
                                                            td.text-right
                                                                - var editarLink = "/ventas/pagos/"+cliente.dni;
                                                                a.editar(href=editarLink)
                                                                    i.c-green-500.ti-arrow-right.mr-2   
                    
    include ../../footer 